a, a:active, a:visited { color: #2d548d; outline:0; }
a:hover { color: #244371; }
#header-content #searchform .button {
    background:#2d548d url(images/icon-search.png) no-repeat 6px 5px;
    background-size:16px 16px;
}
#nav {
    background:#716658;
}
#button-registration {
    border:1px solid #2d548d;
    background-color:#3865a6;
    background-image: linear-gradient(top, #3865a6, #2d548d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: -o-linear-gradient(top, #3865a6, #2d548d);
}
#button-registration:hover {
    background:#2d548d;
}
#nav ul ul {
    background:#716658;
}
#nav #nav-main li:hover ul li a:hover, #nav #nav-main li ul li a:hover {
    background:#2d548d;
}
#panel-tabs {
    background:#2d548d;
}
.tabs-container article {
    background:#716658;
}
.button-more-slide, .button-more-slide:link, .button-more-slide:visited {
    background-image: url(images/arrow-more.png), linear-gradient(top, #3865a6, #2d548d);
    background-image: url(images/arrow-more.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: url(images/arrow-more.png), -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: url(images/arrow-more.png), -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: url(images/arrow-more.png), -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: url(images/arrow-more.png), -o-linear-gradient(top, #3865a6, #2d548d);
    background-repeat: no-repeat;
    background-size:8px 11px, auto auto;
    background-position:140px 11px, 0 0;
}
.button-more-slide:hover {
    background:url(images/arrow-more.png), #244371;
    background-repeat: no-repeat;
    background-size:8px 11px, auto auto;
    background-position:160px 11px, 0 0;
}
.slider-tabs {
    background:#716658;
}
.slider-tabs.flexslider .flex-prev {
    background:#2d548d url(images/arrow-prev-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
.slider-tabs.flexslider .flex-next {
    background:#2d548d url(images/arrow-next-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
.nav-slider-left li a:hover, 
.nav-slider-right li a:hover {
    background:#2d548d;
}
#intro h1 {
    color:#716658;
}
.more-intro:hover {
    color:#2d548d;
}
#nav-sidebar li a:hover figure {
    background:#2d548d;
    box-shadow:0 0 0 4px #2d548d;
}
#nav-sidebar li a:hover .title-nav-sidebar {
    color:#2d548d;
}
#breadcrumbs div a.icon-home {
    background:#2d548d url(images/icon-home.png) no-repeat 50% 8px;
    background-size:17px 17px;
}
.last-breadcrumbs,
#breadcrumbs div a:hover {
    color:#2d548d;
}
#nav-content-bottom {
    background:#2d548d;
}
#nav-sidebar-bottom li a:hover figure {
    background:#2d548d;
    box-shadow:0 0 0 2px #2d548d;
}
.nav-tabs-bottom li a:hover {
    background:#2d548d;
}
.category-slider li a:hover {
    background:#2d548d;
}
#slider-news .flex-prev {
    background:#2d548d url(images/arrow-prev-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
#slider-news .flex-next {
    background:#2d548d url(images/arrow-next-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
.news-container figure img {
    border-top:3px solid #2d548d;
}
.news-container h2.title-news a:hover {
    color:#2d548d;
}
.link-comment, .link-comment:link, .link-comment:visited {
    background:#2d548d url(images/icon-comment.png) no-repeat 10px 8px;
    background-size:16px 17px;
}
#form-comment .button, .wpcf7-form .wpcf7-submit {
    border:1px solid #2d548d;
    background-color:#3865a6;
    background-image: linear-gradient(top, #3865a6, #2d548d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: -o-linear-gradient(top, #3865a6, #2d548d);
}
#form-comment .button:hover, .wpcf7-form .wpcf7-submit:hover {
    background:#2d548d;
}
#history-container {
    background:url(images/blue/line-history.png) repeat-y 30px 0;
}
.static-page h3.history-year {
    background:#2d548d;
}
.history-moment header {
    background:#2d548d;
}
.panel-slider-event {
    background:#2d548d;
}
#slider-event .flex-prev {
    background:#2d548d url(images/arrow-prev-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
#slider-event .flex-next {
    background:#2d548d url(images/arrow-next-slide.png) no-repeat 50% 12px;
    background-size:14px 18px;
}
#nav-event ul li {
    background:#2d548d url(images/sep-tabs.png) repeat-y 100% 0;
}
#form-year .button {
    background:#2d548d;
}
.panel-event-info {
    background:#2d548d;
}
.title-event-one a:hover {
    color:#2d548d;
}
.event-container .panel-event-info {
    background:#2d548d;
}
.static-page .event-container h4 a:hover {
    color:#2d548d;
}
.button-detail:hover {
    color:#2d548d;
}
#event-info .list-event-slider {
    background:#2d548d;
}
#list-category-team li a {
    border-left:3px solid #716658;
}
#list-team li a:hover strong {
    color:#2d548d;
}
.list-gallery-category li a span {
    background:#716658;
}
.link-category-gallery:hover strong {
    color:#2d548d;
}
.sidebar-homepage .widget-title, #sidebar .widget-title {
    background-color:#867c6f;
    background-image: linear-gradient(top, #867c6f, #716658);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#867c6f), to(#716658));
    background-image: -webkit-linear-gradient(top, #867c6f, #716658);
    background-image: -moz-linear-gradient(top, #867c6f, #716658);
    background-image: -ms-linear-gradient(top, #867c6f, #716658);
    background-image: -o-linear-gradient(top, #867c6f, #716658);
}
#sidebar ul li a:hover {
    color:#2d548d;
}
#sidebar ul.tabs-widget li a,
.sidebar-homepage ul.tabs-widget li a,
.sidebar-footer ul.tabs-widget li a {
    background-color:#6e5137;
    background-image: linear-gradient(top, #6e5137, #716658);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6e5137), to(#716658));
    background-image: -webkit-linear-gradient(top, #6e5137, #716658);
    background-image: -moz-linear-gradient(top, #6e5137, #716658);
    background-image: -ms-linear-gradient(top, #6e5137, #716658);
    background-image: -o-linear-gradient(top, #6e5137, #716658);
}
.sidebar-homepage .widget-container ul.news-sidebar h4 a:hover,
#sidebar .widget-container ul.news-sidebar h4 a:hover,
.sidebar-footer .widget-container ul.news-sidebar h4 a:hover {
    color:#2d548d;
}
.sidebar-homepage .widget-container .event-content-widget h4 a:hover,
#sidebar .widget-container .event-content-widget h4 a:hover,
.sidebar-footer.widget-container .event-content-widget h4 a:hover {
    color:#2d548d;
}
#sidebar #searchform #searchsubmit,
.sidebar-homepage #searchform #searchsubmit,
.sidebar-footer #searchform #searchsubmit {
    border: 1px solid #2d548d;
    background-color: #3865a6;
    background-image: linear-gradient(top, #3865a6, #2d548d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: -o-linear-gradient(top, #3865a6, #2d548d);
}
#sidebar #searchform #searchsubmit:hover,
.sidebar-homepage #searchform #searchsubmit:hover,
.sidebar-footer #searchform #searchsubmit:hover {
    background:#2d548d;
}
.sidebar-homepage .widget-container .flexslider .flex-prev,
#sidebar .widget-container .flexslider .flex-prev,
.sidebar-footer .widget-container .flexslider .flex-prev {
    background:#2d548d url(images/arrow-prev-slide.png) no-repeat 50% 9px;
    background-size:12px 15px;
}
.sidebar-homepage .widget-container .flexslider .flex-next,
#sidebar .widget-container .flexslider .flex-next,
.sidebar-footer .widget-container .flexslider .flex-next {
    background:#2d548d url(images/arrow-next-slide.png) no-repeat 50% 9px;
    background-size:12px 15px;
}
.sidebar-footer .widget-title {
    border-bottom:3px solid #716658;
}
.sidebar-footer ul li a:hover {
    color:#2d548d;
}
.sidebar-homepage .button-more, 
#sidebar .button-more,
.sidebar-footer .button-more {
    border:1px solid #2d548d;
    background-color:#3865a6;
    background-image: linear-gradient(top, #3865a6, #2d548d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: -o-linear-gradient(top, #3865a6, #2d548d);
}
.sidebar-homepage .button-more:hover, 
#sidebar .button-more:hover,
.sidebar-footer .button-more:hover {
    background:#2d548d;
}
.button, .button:link, .button:visited {
    border:1px solid #2d548d;
    background-color:#3865a6;
    background-image: linear-gradient(top, #3865a6, #2d548d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3865a6), to(#2d548d));
    background-image: -webkit-linear-gradient(top, #3865a6, #2d548d);
    background-image: -moz-linear-gradient(top, #3865a6, #2d548d);
    background-image: -ms-linear-gradient(top, #3865a6, #2d548d);
    background-image: -o-linear-gradient(top, #3865a6, #2d548d);
}
.button:hover {
    background:#2d548d;
}
#link-back-top {
    background:url(images/blue/arrow-top.png) no-repeat 100% 1px;
    background-size:14px 10px;
}
#title-footer-address {
    background:url(images/blue/corner.png) no-repeat 0 100%;
    background-size:9px 9px;
}
#title-footer-address span {
    background:#716658;
}
#footer-copyright {
    background:#716658;
}